<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
            border: #333 2px solid;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>Show all Data</h1>

    <!-- {{data}} -->

    <div class="container">


     <table border="1" width="100%" cellpadding="10" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>DOB</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.mobile }}</td>
            <td>{{ i.dob }}</td>
        </tr>
        {% endfor %}

    </div>

   
</body>
</html>